/* app css stylesheet */

* {
    box-sizing: border-box;
}

.audioRecorderTimeElapsed {
    float: right;
    font-family: sans-serif;
    text-align: center;
    width: 50px;
    border-radius: 30px;
    border: solid 2px #333;
    padding: 10px;
    margin: 0;
    background: #337ab7;
    color: #fff;
}

.audioRecorderRecordingControl {
    padding-top: 10px;
}

.InlineBlock {
    display: inline-block;
}

/* Matrix Reasoning*/

.ImageSetContainer {
    text-align: center;
}

.center-block {
    float: none;
    margin: auto;
}

.MA_NextButton{
    margin: 5px;
}
