<div class="GMD_innercontainer">
    <div ng-if="vm.bAssessmentsCompleted">
        <h1>{{vm.sAssessmentCompletedText}}</h1>
    </div>
    <div ng-if="!vm.bAssessmentsCompleted">
        <h1>Welcome.</h1>
        <h2>
	    	This assessment will measure several aspects of language ability.  It will take about 15 minutes. 
	    	<br/><br/>
	    	You will hear audio, and audio will be recorded as you speak in some parts of the assessment, so it’s best if you are in a private or secluded area as you participate.    	
    	</h2>
        <h2>
            When you navigate to the next page, you will see a pop-up asking for permission to access your webcam.  This allows us to use your microphone to record audio.  Please click “allow”.
        </h2>
        <h2>Click below to get stared with the assessment</h2>
        <md-button class="md-raised md-primary" ng-click="vm.Helper.StartAssessment()">START</md-button>
    </div>
</div>
