<!-- <h1>All assessments</h1> -->
<div class="SC_assessmentContainer">
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="$index" class="active SC_tabHeaderContainer" ng-repeat="tab in vm.currentTab" heading="{{tab.title}} ( Part {{vm.currentTabIndex + 1}} of {{vm.assessments.length}} )" disable="tab.disabled" ng-click="vm.Helper.TransitionState(tab.state)">
        </uib-tab>
    </uib-tabset>
    <div class="scale-fade" ui-view></div>
    <!-- Bottom section -->
    <div ng-show="vm.bShowPager || true">
        <hr>
        <ul class="pager">
            <li class="previous" ng-show="true">
                <md-button class="md-raised md-primary md-hue-1" ng-click="vm.Helper.PreviousAssessment()" ng-disabled="vm.currentTabIndex == 0">Previous</md-button>
            </li>
            <li class="next">
                <h3>{{vm.sShowPagerMessage}}</h3>
                <md-button class="md-raised md-primary md-hue-1" ng-click="vm.Helper.NextAssessment(vm.currentTabIndex == vm.tabs.length - 1 ? false : true)">{{vm.currentTabIndex == vm.tabs.length - 1 ? 'Done' : 'Next'}}
                </md-button>
            </li>
        </ul>
    </div>
</div>