<!-- <h1>All assessments</h1> -->
<div class="SC_assessmentContainer">
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="$index" class="active SC_tabHeaderContainer" ng-repeat="tab in vm.currentTab" heading="{{tab.title}}" disable="tab.disabled" ng-click="vm.Helper.TransitionState(tab.state)">
        </uib-tab>
    </uib-tabset>
    <div ui-view></div>
    <!-- Bottom section -->
    <div ng-show="vm.bShowPager">
        <hr>
        <ul class="pager">
            <li class="previous" ng-show="false">
                <button class="btn btn-lg btn-success" ng-click="vm.Helper.PreviousAssessment()" ng-disabled="vm.currentTabIndex == 0">Previous</button>
            </li>
            <li class="next">
                <h3>{{vm.sShowPagerMessage}}</h3>
                <button class="btn btn-lg btn-success" ng-click="vm.Helper.NextAssessment()" ng-disabled="vm.currentTabIndex == vm.tabs.length - 1">Next</button>
            </li>
        </ul>
    </div>
</div>