<div ng-include="'templates/assessments/questions.html'"></div>
<div class="SC_assessmentInnerContainer">
    <div class="text-center MA_NextButton">
        <button class="btn btn-md btn-success" ng-click="ma.Helper.GetMartixImages()" ng-show="ma.bShowNextButton">NEXT</button>
    </div>
    <div ng-show="ma.oCurrentSet">
        <div class="ImageSetContainer center-block">
            <!-- Question -->
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="arrURLs in ma.oCurrentSet.frameSets.arrURLs track by $index">
                        <td ng-repeat="oPic in arrURLs track by $index">
                            <img ng-src="{{oPic.sPicURL}}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Select One answer</h2>
        <div class="ImageSetContainer ImageSetContainer_Solution center-block">
            <!-- Solutions -->
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="arrURLs in ma.oCurrentSet.solutionSets.arrURLs track by $index">
                        <td ng-repeat="oPic in arrURLs track by $index" 
                        ng-click="ma.Helper.AnswerSelected(oPic)" 
                        ng-class="{'PicSelected': ma.oCurrentPic.sPicName === oPic.sPicName}">
                            <img ng-src="{{oPic.sPicURL}}" />
                            {{selectedPic}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
