<div class="container">
    <h3>{{vm.currentAssessment.description}}</h3>
    <div ng-include="'templates/assessments/questions.html'"></div>
    <script type="text/ng-template" id="15">
        <!-- <input type="text" class="form-control" ng-model="assessment.response" /> -->
        <md-input-container>
            <input ng-model="assessment.response">
        </md-input-container>
    </script>
    <script type="text/ng-template" id="16">
        <!-- <input type="email" class="form-control" ng-model="assessment.response" /> -->
        <md-input-container>
            <input ng-model="assessment.response" type="email">
        </md-input-container>
    </script>
    <script type="text/ng-template" id="17">
        <!-- <input type="text" class="form-control" ng-model="assessment.response" /> -->
        <md-input-container>
            <input ng-model="assessment.response">
        </md-input-container>
    </script>
    <script type="text/ng-template" id="18">
        <select class="form-control" ng-model="assessment.response">
            <option ng-repeat="o in vm.arrDropDowns.States" value="{{o.val}}">
                {{o.label}}
            </option>
            </select>
        <!-- <md-input-container class="md-block" flex-gt-sm="">
            <md-select ng-model="assessment.response">
                <md-option ng-repeat="o in vm.arrDropDowns.States" value="{{o.val}}">
                    {{o.label}}
                </md-option>
            </md-select>
        </md-input-container> -->
    </script>
    <script type="text/ng-template" id="19">
        <div class="SC_PersonalPublicSchool">
            <div class="row NoMargin" ng-repeat="school in pe.arrPublicSchool">
                <div class="col-md-1">
                    <input type="checkbox" ng-checked="pe.arrCheckedSchools.indexOf(school) != -1" ng-click="pe.Helper.UpdateCheckbox(school)">
                    <!-- <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item }} <span ng-if="exists(item, selected)">selected</span>
                    </md-checkbox> -->
                </div>
                <div class="col-md-11">
                    {{school.label}}
                </div>
            </div>
            <!-- <div class="row NoMargin" ng-repeat="school in pe.arrPublicSchool">
                <md-checkbox ng-checked="pe.Helper.Checked(school, pe.arrCheckedSchools)" ng-click="pe.Helper.UpdateCheckbox(school)">
                    {{ school.label }}
                </md-checkbox>
            </div> -->
        </div>
    </script>
</div>
