<div ng-include="'templates/assessments/questions.html'"></div>
<script type="text/ng-template" id="8">
    <div class="SC_Asmnt2_Letter">{{td.displayedResponse}}</div>
</script>
<div class="SC_assessmentInnerContainer SC_TimeDuration">
    <div class="text-center">
        <md-button class="md-raised md-primary" ng-click="td.Helper.PlayNext('next')" ng-show="td.oAudio.bShowStartButton">{{td.sTextOnPlayButton}}</md-button>        
    </div>
    <div id="assess_circle" ng-show="td.oAudio.bShowProgressBar">
        <button ng-disabled="!td.oAudio.bShowResponseBox" ng-class="{'buttonPressed': buttonPressed, 'disabledButton': !td.oAudio.bShowResponseBox}" class="glass SC_ButtonPress" ng-mousedown="buttonPressed = true; td.Helper.RecordTimeDuration('start');" ng-mouseup="buttonPressed = false; td.Helper.RecordTimeDuration('stop');">
            &nbsp;
        </button>
    </div>
    <form class="text-center" name="timeDuration" ng-show="td.oAudio.bShowResponseBox" novalidate ng-submit="timeDuration.$valid && td.Helper.TimeDurationSubmit()">
        <div>
            <h3>How long do you think the progress bar was visible? Press and hold the button for the same amount of time.</h3>
        </div>
    </form>
</div>