<div ng-include="'templates/assessments/questions.html'"></div>
<div class="SC_assessmentInnerContainer SC_TimeDuration">
    <div class="text-center" ng-show="td.oAudio.bShowStartButton">
        <button type="submit" class="btn btn-primary" ng-click="td.Helper.Next()">Start</button>
    </div>
    <div class="text-center">
        <uib-progressbar class="progress-striped_1 active_1" max="td.oAudio.nMaxTime" value="td.oAudio.nSpentTime" type="{{td.oAudio.sType}}" ng-show="td.oAudio.bShowProgressBar"></uib-progressbar>
        <button class="btn btn-md btn-success" ng-click="td.Helper.PlayNext('next')" ng-show="td.oAudio.bShowPlayButton">{{au.sTextOnPlayButton}}</button>
    </div>    
    <form class="text-center" name="timeDuration" ng-show="td.oAudio.bShowResponseBox" novalidate ng-submit="timeDuration.$valid && td.Helper.TimeDurationSubmit()">
        How long do you think the progress bar was visible? Type time (seconds) in the box below:
        <input required type="number" class="form-control" ng-model="td.oAudio.nResponseBoxValue" />
        <button type="submit" class="btn btn-primary" ng-disabled="timeDuration.$invalid">Submit</button>
    </form>
</div>
